@keyframes 귀오른쪽 {
  from {
    transform: rotate(30deg);
  }

  to {
    transform: rotate(40deg) translate(10px);
  }
}

@keyframes 귀왼쪽 {
  from {
    transform: rotate(-30deg);
  }

  to {
    transform: rotate(-40deg) translate(-10px);
  }
}

@keyframes 눈돌아가기 {
  from {
    transform: rotate(0deg) translate(-10px);
  }

  to {
    transform: rotate(359deg) translate(-10px);
  }
}

/* setting */
:root {
  --pri: #ce705f;
  --sec: #ecd376;
}

/* reset */
body {
  margin: 0;
  padding: 0;
}

/* layout */
/* design */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-image: url(./images/background-image.png);
  background-size: cover;
}

.monster {
  position: relative;
  top: 100px;
  margin: 50px auto;
  width: 400px;
  height: 420px;
}

.ear.left {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 50px;
  transform: rotate(-36deg);
  border: 5px solid #78777c;
  border-radius: 60% 40% 59% 41% / 100% 100% 0% 0%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #a9a8ab;
  z-index: -10;
  animation: 귀왼쪽 1s infinite alternate;
  animation-delay: 1s;
}

.ear.right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  right: 100px;
  transform: rotate(36deg);
  border: 5px solid #78777c;
  border-radius: 40% 60% 59% 41% / 100% 100% 0% 0%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #a9a8ab;
  z-index: -10;
  animation: 귀오른쪽 1s infinite alternate;
  animation-delay: 1s;
}

.face {
  width: 350px;
  height: 380px;
  background-color: #cbde52;
  border: 8px solid #244a23;
  border-radius: 55% 55% 50% 50%;
}

.눈썹 {
  position: absolute;
  width: 120px;
  height: 56px;
  border-radius: 60px 60px 0 0 / 56px 56px 0 0;
  background-color: #7cac42;
  top: 12px;
  left: 115px;
  z-index: 10;
}

.눈틀1 {
  position: absolute;
  width: 120px;
  height: 56px;
  border-radius: 60px 60px 0 0 / 42px 42px 0 0;
  background-color: #aacd44;
  top: 20px;
  left: 115px;
  z-index: 100;
}

.눈틀2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 70px 70px 100px 100px / 100px 100px 100px 100px;
  background-color: #aacd44;
  top: 40px;
  left: 75px;
  z-index: 101;
}

.눈흰자 {
  position: absolute;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  background-color: white;
  top: 50px;
  left: 82px;
  z-index: 200;
}

.눈동자 {
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: #267746;
  background: radial-gradient(farthest-corner at 50% 10%, black, #267746);
  border: 4px solid black;
  border-radius: 50%;
  top: 85px;
  left: 120px;
  z-index: 300;
}

.눈동자:hover {
  animation: 눈돌아가기 3s infinite alternate;
}

.연지곤지.왼쪽 {
  position: absolute;
  top: 230px;
  left: 30px;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  transform: rotate(20deg);
  background: radial-gradient(farthest-corner at 50% 50%, #b18827, #e0ec83);
}

.연지곤지.오른쪽 {
  position: absolute;
  top: 230px;
  right: 70px;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  transform: rotate(-20deg);
  background: radial-gradient(farthest-corner at 50% 50%, #b18827, #e0ec83);
}

.입 {
  position: absolute;
  width: 180px;
  height: 10px;
  background-color: black;
  top: 290px;
  left: 83px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px;
}
